<%= include ../layouts/header.ejs %>
  <div class="books">
    <% books.forEach(function (book, index){ %>
    <div class="book">
      <b>Title:</b> <%= book.title %> <br>
      <b>Author:</b> <%= book.author %>
    </div>
    <% }) %>
  </div>
<%= include ../layouts/footer.ejs %>